@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background-image: url(./../images/freepik-export-20240913063949C7YY.jpeg);
}

.examen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 320px !important;
    text-align: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.card h4 {
    font-size: 1em;
    font-weight: bold;
}

.card p {
    font-size: 1em;
    color: #333;
    padding-bottom: 10px;
}

.libelle{
    margin: 0% 15%;
}

.ordonnance{
    height: 70% !important;
    background-color:#0056b3;
    padding: 15px;
    text-decoration:  none;
}

.btn-payer:hover {
    background-color: #0056b3;
}

.line{
    background-color: blue;
    color: blue;
    width: 100%;
    margin: 0 !important;
}

.doc_add{
    display: grid;
    place-items: center;  /* Centrage horizontal et vertical */
    height: 26vh; 
}
.submit{
    padding-top: 5%;
    margin-left: 20% !important;
    margin-right: 20% !important;
    display: grid;
    place-items: center; 
}

